{% extends "layout.html" %}
{% block body %}
<ul><ul>
Мы ответим на интересующие Вас вопросы по телефону <b>8(908) 239-13-19</b> или напишите нам:<br><br>
<ul><form action="your_method_name" method="post" align=top>
    <li><input type="text" name="customer_name" placeholder="Ваше имя" cols=30 >
    <li><input type="text" name="phone_number" placeholder="Ваш номер телефона" cols=30>
    <li><textarea name="text_question" rows=5 cols=30 align="top" placeholder="Вопрос"></textarea><br>
    <input type="submit" value="Задать вопрос">
</form>

{% include "footer.html" %}
{% endblock %}
