{% extends "layout.html" %}
{% block body %}
<ul><ul>

<b>Вопрос:</b> Что будет с натяжным потолком если вас затопили соседи?
<br>
<br>
<font color = "Tomato"> Ответ:</font> в случае затопления, вода собирается в одном месте и потолок провисает, образовав пузырь. Вызываете мастера, он откачивает воду и просушивает, после чего потолок становиться каким был до затопления.
<br>
<br>
<b>Вопрос:</b> Может ли расплавиться потолок от спотов?
<br>
<br>
<font color = "Tomato"> Ответ:</font>  Да, может, если мощность ламп превышает допустимые нормы (галогенные до 35 Вт, обычные лампы – до 45 Вт).
<br>
<br>
<b>Вопрос:</b> Когда лучше производить поклейку обоев, до монтажа натяжного потолка или после?
<br><br>
<font color = "Tomato"> Ответ:</font>  Разницы нет. Обои можно клеить как до монтажа, так и после. В случае, поклейки до монтажа, обои следует тщательно пропылесосить, если решили клеить после, то главное не прорезать потолок при подрезке обоев. После поклейки обоев устанавливается маскировочная лента.
<br><br>
<b>Вопрос:</b> Можно ли установить потолочный карниз на натяжной потолок?
<br><br>
<font color = "Tomato"> Ответ:</font>  Да. Чтобы установить потолочный карниз к потолку между базовым и натяжным потолками устанавливается специальная платформа, к которой и крепится потолочный карниз. Крепление потолочного карниза производиться только специалистом, так как самостоятельная установка приведет к порче и разрыву потолка.
<br><br>
<b>Вопрос:</b>  Можно ли мыть натяжной потолок?
<br>
<font color = "Tomato"> Ответ:</font>  Можно, соблюдая простые правила эксплуатации натяжных потолков, которые мы выдаем при монтаже или демонтаже натяжных потолков.

{% include "footer.html" %}
{% endblock %}

