{% extends "layout.html" %}
{% block body %}
<ul><ul>
<p align="center"><br>
Предлагаем вашему вниманию подбор, монтаж потолков в Нижнем Новгороде!<br><br><br>
  <style>
   table {
    width: 200%; /* Ширина таблицы */
    border: 1px solid #399; /* Граница вокруг таблицы */
    border-spacing: 7px 5px; /* Расстояние между границ */
     border: 0px solid #ccc;
   }
  </style>
<table align="right"  width=100%>
<tr>
<td><img src="../images/ballons.png" alt="Натяжные потолки. Нижний Новгород" style="width:250px%;height:250px;"
 hspace="300" vspace="300"></p></td>
<td>&emsp;&emsp;&emsp;<b>Почему стоит выбрать нас:</b><br><br><ul></p>
<p align="center">
<p align="center"><li> Более 10-ти лет работы на рынке</li>
<p align="center"><li> Прозрачное ценообразование</li>
<p align="center"><li> Качественные материалы</li>
<p align="center"><li> Безопасный монтаж</li>
<p align="center"><li> Аккуратная работа</li>
<p align="center"><li> Обработка заказа без посредников</li></p></td>

<td>&emsp;&emsp;&emsp;<img src="../images/puska1.png" alt="Натяжные потолки. Нижний Новгород" style="width:170px%;height:170px;"
 hspace="200" vspace="200"></p></td>
</tr>
</table>
<style>
  ul {display: table; margin:0 auto;}
</style>
</ul>

{% include "footer.html" %}
{% endblock %}
