<!doctype html>
<title>Потолки Нижний Новгород</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1><a href="{{ url_for('index') }}">Потолки</a></h1>
  <div class=metanav>
  </div>
<table align="right" border=1>
  <tr>
   <td><a href="{{ url_for('index') }}">Главная</a></td>
  </tr>
  <tr>
  <tr>
   <td><a href="{{ url_for('ceiling') }}">Потолки</a></td>
  </tr>
  <tr>
    <td><a href="{{ url_for('price') }}">Цены</a></td>
  </tr>
  <tr>
    <td><a href="{{ url_for('contact') }}">Контакты</a></td>
  </tr>
  <tr>
    <td><a href="{{ url_for('faq') }}">Вопросы</a></td>
  </tr>
</table>


  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

