{% extends "layout.html" %}
{% block body %}
<ul><ul>
Мы предлагаем два основных проверенных временем и наиболее актуальных варианта потолков<br>
<ul>
  <li> Матовые белые потолки</li>
  <li> Глянцевые белые потолки</li>
</ul>
<br>
Осуществляем монтаж любых цветных потолков, выбранных по каталогу, а также монтаж тканевых потолков (Clipso).
<br>
<br>
По вопросам цен просим Bас связаться с нами по <a href="{{ url_for('contact') }}"><font color="Blue"><b>телефону</b></a></font>
{% include "footer.html" %}
{% endblock %}

